body{
  margin: 0px;
}


header{
  height: 300px;
  background: yellow;
}


content{

  width: 80%;
/*  border: 2px solid green;*/
  display: flex;
  margin: auto;


}
  aside{
/*Para el @media display: none*/
    flex: 0.5;
  /*  border: 1px solid red;*/
    display: flex;




    background: rgba(255,175,75,0);
    background: -moz-linear-gradient(left, rgba(255,175,75,0) 40%, rgba(255,175,75,0.8) 45%, rgba(255,175,75,0.87) 50%, rgba(140,92,90,1) 60%, rgba(24,9,105,1) 70%);
    background: -webkit-gradient(left top, right top, color-stop(40%, rgba(255,175,75,0)), color-stop(45%, rgba(255,175,75,0.8)), color-stop(50%, rgba(255,175,75,0.87)), color-stop(60%, rgba(140,92,90,1)), color-stop(70%, rgba(24,9,105,1)));
    background: -webkit-linear-gradient(left, rgba(255,175,75,0) 40%, rgba(255,175,75,0.8) 45%, rgba(255,175,75,0.87) 50%, rgba(140,92,90,1) 60%, rgba(24,9,105,1) 70%);
    background: -o-linear-gradient(left, rgba(255,175,75,0) 40%, rgba(255,175,75,0.8) 45%, rgba(255,175,75,0.87) 50%, rgba(140,92,90,1) 60%, rgba(24,9,105,1) 70%);
    background: -ms-linear-gradient(left, rgba(255,175,75,0) 40%, rgba(255,175,75,0.8) 45%, rgba(255,175,75,0.87) 50%, rgba(140,92,90,1) 60%, rgba(24,9,105,1) 70%);
    background: linear-gradient(to right, rgba(255,175,75,0) 40%, rgba(255,175,75,0.8) 45%, rgba(255,175,75,0.87) 50%, rgba(140,92,90,1) 60%, rgba(24,9,105,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#180969', GradientType=1 );





  }

  nav{
    position: sticky;
    top: 38.8%;
    height: 300px;

  }

  nav ul{
    padding: 0;
  }
  nav ul a{
    color:#6666ff;
    text-decoration:none;


  }

  nav ul a li {
    list-style:none;

}


main{
  flex: 2;
/*  border: 1px solid black;*/
  display: flex;
  flex-flow: column;
  min-width: 700px;
    }

    main p{
      display:block;
      padding: 0px 20px 0px 30px;

    }

    main h2{
      margin: 30px 0px 10px 30px;
      /*Para el @Media  font-size: 335px;*/
    }

    figure{
      margin: 20px auto;
      border-radius: 50px;
      overflow: hidden;
      box-shadow: 1px 1px 20px 1px

    }
    figure img{
      max-width: 500px;
    }
    figcaption{
      text-align: center;
    }



    footer{
      text-align: center;
      margin: 50px 0px 50px 0px;
      padding: 20px 0px 0px 0px;
      border-top: 1px solid #ccc;

    }

      footer a:hover{
      	text-decoration:none;
      	}
    	footer a{
    	text-decoration:none;
    	color:black;
    	}

      #Izquierda{
        display: inline-block;

      }

      .Circulo{
        width: 100px;
        height: 100px;
        display: inline-block;
        border: 1px solid;
        border-radius: 50px;
        margin: 0px 10px;

      }

      #Derecha{
        display: inline-block;
        margin: 0px 0px 0px 50px;
        height: 100px;
        padding: 0px 0px 0px 50px;

        border-left: 1px solid #ccc;
      }


      #Caja{
        float:right;;

      }


      #Derecha a{
        display: block;
      }

      #copyright{
        display: block;
        margin: 20px 0px 0px 0px;
      }