body{
	background: rgba(254,254,254,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(221,221,221,1) 66%, rgba(209,209,209,1) 90%, rgba(216,216,216,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(254,254,254,1)), color-stop(66%, rgba(221,221,221,1)), color-stop(90%, rgba(209,209,209,1)), color-stop(100%, rgba(216,216,216,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(221,221,221,1) 66%, rgba(209,209,209,1) 90%, rgba(216,216,216,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(221,221,221,1) 66%, rgba(209,209,209,1) 90%, rgba(216,216,216,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(221,221,221,1) 66%, rgba(209,209,209,1) 90%, rgba(216,216,216,1) 100%);
background: radial-gradient(ellipse at center, rgba(254,254,254,1) 0%, rgba(221,221,221,1) 66%, rgba(209,209,209,1) 90%, rgba(216,216,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d8d8d8', GradientType=1 );
}
header h1{
font-size:50px;
text-shadow:1px 0px 5px purple;
 font-family:'Fugaz One';
}
header{
	justify-content: center;
    display: flex;
}
#topLeft{
	display: flex;
    
    min-width: 450px;
    align-items: center;
}

#topLeft>h1 {
	font-family: 'Fugaz One', cursive;
	font-size: 60px;
	padding: 0px;
	margin: 0px;
	}

#Logo{
	width: 200px;
}

footer p{
font-size:x-small;	
text-shadow:1px 0px 5px black;
font-family:'Share Tech Mono', monospace;
display:table;
	margin:30px auto;
}

h1{
	font-family:'Share Tech Mono', monospace;
	display:table;
	margin:30px auto;
}
#Slider{
	width:80%;
	min-height:500px;  
	margin:auto;
	overflow:overlay;
	border-radius:20px;
	box-shadow:0px 0px 15px 0px black; 
	animation: colorchange 10s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 10s infinite; /* Chrome and Safari */
}
#contSlider{
	min-height:500px;
	display:flex;
}
.backSlider{

}
#menuSlider{
	display:none;
	flex-flow:row;
}
#btn-git{
	
}
.navSlider{
	
}
#btn-github{
	
}
#btn-eclipse{
	
}#git{
	
}
.contDatosSlider{
	text-align-last:justify;
	display:flex;
	padding:50px 20px;
	flex:1;
	align-items:flex-end;
	justify-content:center;
	-webkit-transition: flex 2s; /* Safari */
    transition: flex 1s, opacity 2s;
    opacity:0.5;
    box-shadow:0px 0px 5px 0px black;
    overflow:hidden;
    background-size:100%;
    background-repeat:no-repeat; 
    background-position:center;

	animation: colorchange 10s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 10s infinite; /* Chrome and Safari */
}

    @keyframes colorchange
    {
      0%   {box-shadow: 0px 0px 15px 2px red;}
      25%  {box-shadow: 0px 0px 15px 2px  yellow;}
      50%  {box-shadow: 0px 0px 15px 2px  blue;}
      75%  {box-shadow: 0px 0px 15px 2px  green;}
      100% {box-shadow: 0px 0px 15px 2px  red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {box-shadow: 0px 0px 15px 2px red;}
      25%  {box-shadow: 0px 0px 15px 2px yellow;}
      50%  {box-shadow: 0px 0px 15px 2px blue;}
      75%  {box-shadow: 0px 0px 15px 2px green;}
      100% {box-shadow: 0px 0px 15px 2px red;}
    }

.contDatosSlider a{
	display:flex;
	align-items:flex-end;
	height:100%;
	width:100%;
    color: blacK;
    text-decoration: none;
}
.datosSlider{
	/*align-self:flex-end;*/
	opacity:0;
	padding:10px;
	display:block;
	margin:0px auto;
	min-width:500px;
	max-width:500px;
	background-color:rgba(255,255,255,0.8);
}

.contDatosSlider:hover {
	flex:4;
	opacity:1;
	box-shadow:0px 0px 5px 0px black; 
	background-size:90%;  
	background-position:center;
}

.contDatosSlider:hover .datosSlider{
	display:flex;
	
}
#git:hover {
	background-image:url(../img/git-logo.gif);
display:flex;
}

#git:hover .datosSlider{
display:flex;
opacity:1;
}

#github:hover {
background-image:url(../img/github.gif);
display:flex;
}

#github:hover .datosSlider{
display:flex;
opacity:1;
}

#eclipse:hover {
background-image:url(../img/eclipse-800x426.png);
display:flex;
}

#eclipse:hover .datosSlider{
display:flex;
opacity:1;
}

#git{
	background-image:url(../img/git_logo.png);
	
}

#github{
	background-image:url(../img/github2.gif);
}
#eclipse{
	background-image:url(../img/eclipse-200x200.png);
}
