header h1{
font-size:50px;
text-shadow:1px 0px 5px purple;
}

footer h1{
font-size:x-small;	
text-shadow:1px 0px 5px black;
}

h1{
	font-family:'Share Tech Mono', monospace;
	display:table;
	margin:30px auto;
}
#Slider{
	width:80%;
	min-height:700px;  
	margin:auto;
	overflow:overlay;
	border-radius:20px;
	box-shadow:0px 0px 15px 0px black; 
}
#contSlider{
	min-height:700px;
	display:flex;
}
.backSlider{

}
#menuSlider{
	display:none;
	flex-flow:row;
}
#btn-git{
	
}
.navSlider{
	
}
#btn-github{
	
}
#btn-eclipse{
	
}#git{
	
}
.contDatosSlider{
	text-align-last:justify;
	display:flex;
	padding:50px 20px;
	flex:1;
	align-items:flex-end;
	justify-content:center;
	-webkit-transition: flex 2s; /* Safari */
    transition: flex 1s, opacity 2s;
    opacity:0.5;
    box-shadow:0px 0px 5px 0px black;
    overflow:hidden;
    /*background-size:100%;*/
    background-repeat:no-repeat; 
    background-position:left;

	animation: colorchange 10s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 10s infinite; /* Chrome and Safari */
}

    @keyframes colorchange
    {
      0%   {box-shadow: 0px 0px 15px 2px red;}
      25%  {box-shadow: 0px 0px 15px 2px  yellow;}
      50%  {box-shadow: 0px 0px 15px 2px  blue;}
      75%  {box-shadow: 0px 0px 15px 2px  green;}
      100% {box-shadow: 0px 0px 15px 2px  red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {box-shadow: 0px 0px 15px 2px red;}
      25%  {box-shadow: 0px 0px 15px 2px yellow;}
      50%  {box-shadow: 0px 0px 15px 2px blue;}
      75%  {box-shadow: 0px 0px 15px 2px green;}
      100% {box-shadow: 0px 0px 15px 2px red;}
    }

.contDatosSlider a{
	display:flex;
	align-items:flex-end;
	height:100%;
	width:100%;
    color: blacK;
    text-decoration: none;
}
.datosSlider{
	/*align-self:flex-end;*/
	opacity:0;
	padding:10px;
	display:block;
	margin:0px auto;
	min-width:500px;
	max-width:500px;
	background-color:rgba(255,255,255,0.8);
}

.contDatosSlider:hover {
	flex:4;
	opacity:1;
	box-shadow:0px 0px 5px 0px black; 
	background-size:70% 50%;  
	background-position:center;
}

.contDatosSlider:hover .datosSlider{
	display:flex;
	
}
#git:hover {
	/*background:url(../img/git-logo.gif)no-repeat center;*/
display:flex;
}

#git:hover .datosSlider{
display:flex;
opacity:1;
}

#github:hover {
/*background:url(../img/github-logo.gif)no-repeat center;*/
display:flex;
}

#github:hover .datosSlider{
display:flex;
opacity:1;
}

#eclipse:hover {
/*background:url(../img/eclipse-logo.png)no-repeat center;*/
display:flex;
}

#eclipse:hover .datosSlider{
display:flex;
opacity:1;
}

#git{
	background-image:url(../img/git-logo.gif);
	
}

#github{
	background-image:url(../img/github-logo.gif);
}
#eclipse{
	background-image:url(../img/eclipse-logo.png);
}
