/*  CSS del proyecto  */

/******* Body *********/

/****** Header ********/

/******* Main *********/

/****** Footer ********/


/****** Index contSlider ********/
#Slider{
	margin:auto;
	display:block;
	width:80%;
	min-height:700px;  
	overflow:overlay;
	border-radius:20%;
	box-shadow:0px 5px 30px 1px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#142b3b+0,61aae2+30,61aae2+60&1+0,1+40,0+80,0+100 */
background: -moz-linear-gradient(left,  rgba(20,43,59,1) 0%, rgba(97,170,226,1) 30%, rgba(97,170,226,1) 40%, rgba(97,170,226,0.5) 60%, rgba(97,170,226,0) 80%, rgba(97,170,226,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(20,43,59,1) 0%,rgba(97,170,226,1) 30%,rgba(97,170,226,1) 40%,rgba(97,170,226,0.5) 60%,rgba(97,170,226,0) 80%,rgba(97,170,226,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(20,43,59,1) 0%,rgba(97,170,226,1) 30%,rgba(97,170,226,1) 40%,rgba(97,170,226,0.5) 60%,rgba(97,170,226,0) 80%,rgba(97,170,226,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142b3b', endColorstr='#0061aae2',GradientType=1 ); /* IE6-9 */
	
	
}

#contSlider{
	width:100%;
	display: flex;   
    flex-flow:row nowrap;
    align-content:space-around;
    box-shadow:10px 0px 50px 0px;
    min-height:700px;

	
}
#menuSlider{
 	display: flex;   
 	flex-flow:column wrap;
	align-content:space-around;
	justify-content:space-around;
	flex:1;
}

.navSlider{
	width:65%;
	height:33%;
	display:flex;    
    align-items:center;
    justify-content:space-around;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    box-shadow:0px 0px 5px 0px black;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#142b3b+0,61aae2+33,61aae2+100&1+0,0.5+100 */
background: -moz-linear-gradient(left,  rgba(20,43,59,1) 0%, rgba(97,170,226,0.84) 33%, rgba(97,170,226,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(20,43,59,1) 0%,rgba(97,170,226,0.84) 33%,rgba(97,170,226,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(20,43,59,1) 0%,rgba(97,170,226,0.84) 33%,rgba(97,170,226,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142b3b', endColorstr='#8061aae2',GradientType=1 ); /* IE6-9 */
    
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+30,2989d8+50,7db9e8+99&1+23,0.8+35,0+50 */
background: -moz-linear-gradient(45deg,  rgba(30,87,153,1) 23%, rgba(30,87,153,0.88) 30%, rgba(33,100,169,0.8) 35%, rgba(41,137,216,0) 50%, rgba(125,185,232,0) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(30,87,153,1) 23%,rgba(30,87,153,0.88) 30%,rgba(33,100,169,0.8) 35%,rgba(41,137,216,0) 50%,rgba(125,185,232,0) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(30,87,153,1) 23%,rgba(30,87,153,0.88) 30%,rgba(33,100,169,0.8) 35%,rgba(41,137,216,0) 50%,rgba(125,185,232,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    }
    

.navSlider a{
	text-decoration: none;
	color:#e47c5d;
	font-size:35px;
	font-family:'Share Tech Mono', monospace;
}

.navSlider:hover{
	 box-shadow:-3px 5px 10px 3px paleturquoise;
}

.navSlider > h1	{
	
}

.contDatosSlider{
	
	align-self:auto;
	flex:3;
	display:none;
	flex-direction:column-reverse;
}
.datosSlider{
	text-align:justify;
	margin:0px 110px 45px 5px;
	display: none;   
    border-radius:30px;
    background-color:rgba(80,80,80,0.5);
    padding:30px;
    font-size:large;
}

#intro {
	background:url(../img/F2R2.png)no-repeat center;
	display:flex;
}

#intro  .datosSlider{
	display:flex;
}

#btn-git:hover {
background:url(../img/git-logo.gif)no-repeat center;
display:flex;
}
#btn-git:hover .datosSlider{
display:flex;
}

#btn-git:hover #intro  .datosSlider{
	display:none;
}

#btn-github:hover {
background:url(../img/github-logo.gif)no-repeat center;
display:flex;
}

#btn-github:hover .datosSlider{
display:flex;
}

#btn-eclipse:hover{
background:url(../img/eclipse-logo.png)no-repeat center;
display:flex;
}

#btn-eclipse:hover .datosSlider{
display:flex;
}





/****** RESPONSIV ********/
/****** Media queries ********
*/
@media (max-width:1024px){
#Slider{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#142b3b+0,61aae2+30,61aae2+60&1+0,1+40,0+80,0+100 */
background: -moz-linear-gradient(top,  rgba(20,43,59,1) 0%, rgba(97,170,226,1) 30%, rgba(97,170,226,1) 40%, rgba(97,170,226,0.5) 60%, rgba(97,170,226,0) 80%, rgba(97,170,226,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(20,43,59,1) 0%,rgba(97,170,226,1) 30%,rgba(97,170,226,1) 40%,rgba(97,170,226,0.5) 60%,rgba(97,170,226,0) 80%,rgba(97,170,226,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(20,43,59,1) 0%,rgba(97,170,226,1) 30%,rgba(97,170,226,1) 40%,rgba(97,170,226,0.5) 60%,rgba(97,170,226,0) 80%,rgba(97,170,226,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142b3b', endColorstr='#0061aae2',GradientType=0 ); /* IE6-9 */

width:100%;
border-radius:20px;
min-height:400px;
	
}
	
	#contSlider{
	min-height:400px;
		flex-flow:column nowrap;
	}
#menuSlider{
	flex-flow:row;
}
.contDatosSlider{
	flex:56;	
	flex-direction:column;
}
.datosSlider{
	min-height:400px;
	margin:0px 0px;
}



}

@media (max-height:300px) and (orientation: landscape){

		#contSlider{
	min-height:400px;
		flex-flow:column nowrap;
	}
#menuSlider{
	flex-flow:row;
}
.contDatosSlider{
	flex:56;	
	flex-direction:column;
}
.datosSlider{
	min-height:400px;
	margin:0px 0px;
}
}
/*
*body{
*
}
*
*aside{

}
*
*
*main{

}
*
*
*@media(max-width:500px)
*
*/


}


